@import url('https://fonts.googleapis.com/css?family=Quicksand:300,400,700|Titillium+Web:900');
@import url('https://fonts.googleapis.com/css?family=Pinyon+Script');
* {
  font-family: "Quicksand", sans-serif;
}
body {
  margin: 0;
  font-size: 15px;
}
.section-num {
  position: relative;
}
.section-num h1 {
  font-family: "Titillium Web";
  font-weight: 900;
  font-size: 4em;
  position: absolute;
  top: -30px;
  left: 0;
  opacity: .3;
}
.section-num h2 {
  font-size: 3em;
}
a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
.visible-xs .overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 5;
  right: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.9);
  overflow-x: hidden;
  transition: 0.5s;
}
.visible-xs .overlay-content {
  position: relative;
  top: 16vh;
  width: 100%;
  text-align: center;
  margin-top: 30px;
}
.visible-xs .overlay a {
  padding: 8px;
  text-decoration: none;
  font-size: 36px;
  color: #818181;
  display: block;
  transition: 0.3s;
}
.visible-xs .overlay a:hover,
.visible-xs .overlay a:focus {
  color: #f1f1f1;
}
.visible-xs .overlay .closebtn {
  position: absolute;
  line-height: 58px;
  right: -35px;
  padding: 0;
  font-size: 60px;
}
@media screen and (max-height: 450px) {
  .visible-xs .overlay a {
    font-size: 20px;
  }
  .visible-xs .overlay .closebtn {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}
.visible-xs span {
  position: absolute;
  line-height: 70px;
  right: 15px;
  color: #fff;
  font-size: 3em;
  transition: .5s;
}
#banner {
  position: relative;
  height: 100vh;
  background-image: url('../../images/banner2.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;
  padding-top: 70px;
  z-index: 1;
}
#banner hr {
  margin: 0;
  display: none;
  position: fixed;
  top: 70px;
  left: 0;
  right: 0;
  transition: .5s ease;
}
#banner:before {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  content: '';
  background: rgba(0, 0, 0, 0.4);
  z-index: 2;
}
#banner #header {
  right: 0;
  left: 0;
  top: 0;
  transition: .5s ease;
  background: rgba(255, 255, 255, 0);
  position: fixed;
  z-index: 10;
  height: 70px;
  line-height: 70px;
}
#banner #header #logo {
  font-family: "Pinyon Script", sans-serif;
  color: #fff;
  z-index: 10;
  position: relative;
  font-size: 30px;
  display: inline-block;
  float: left;
}
#banner #header ul {
  float: right;
  display: inline-block;
  text-align: right;
  margin: 0;
}
#banner #header ul li {
  display: inline-block;
  list-style: none;
  margin: 0 15px;
}
#banner #header ul li a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 300;
}
#banner #header ul li a:hover {
  color: #999;
}
#banner #banner-info {
  position: relative;
  z-index: 3;
  height: 50vh;
  margin-top: 25vh;
  color: #fff;
}
#banner #banner-info h1 {
  font-family: "Titillium Web", sans-serif;
  font-weight: 900;
  letter-spacing: 3px;
  font-size: 3.5em;
  margin: 0;
}
#banner #banner-info h4 {
  font-size: 1.5em;
  margin: 10px 0 20px 0;
}
#banner #banner-info ul {
  padding: 0;
  margin-bottom: 20px;
}
#banner #banner-info ul li {
  margin-right: 20px;
  list-style: none;
  display: inline-block;
}
#banner #banner-info ul li a {
  text-align: center;
  line-height: 28px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 1px #fff solid;
  display: block;
  color: #fff;
  transition: .2s ease;
}
#banner #banner-info ul li a:hover {
  background: #fff;
  color: #282828;
}
#banner #banner-info #banner-info-inner {
  display: inline-block;
}
#banner .lnr {
  position: absolute;
  z-index: 3;
  color: #fff;
  bottom: 0;
  width: 50px;
  right: 50%;
  margin-right: -25px;
  font-size: 50px;
}
#about {
  padding: 100px 0;
}
#about #about-inner p {
  margin-bottom: 30px;
}
#about #about-inner .progress {
  height: 4px;
  padding: 1px 0;
}
#about #about-inner .progress .progress-bar {
  background: #284682;
}
#skills {
  background: #f7f7f7;
  padding: 100px 0;
}
#skills .section-num {
  float: right;
  text-align: right;
}
#skills .section-num h1 {
  right: 0;
}
#skills #skills-inner .skill {
  padding: 30px 5px;
  overflow: hidden;
  background: #fff;
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 0;
  position: relative;
  transition: .3s ease;
  border: 1px #f7f7f7 solid;
}
#skills #skills-inner .skill:before {
  z-index: 2;
  transition: .3s ease;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
#skills #skills-inner .skill:hover:before {
  background: #284682;
}
#skills #skills-inner .skill:hover ul {
  bottom: 25px;
}
#skills #skills-inner .skill ul {
  padding: 0;
  width: 100%;
  transition: .3s ease;
  z-index: 3;
  text-align: center;
  position: absolute;
  bottom: -130px;
  color: #fff;
}
#skills #skills-inner .skill ul li {
  list-style: none;
  padding: 5px 0;
}
#skills #skills-inner .skill .skill-inner {
  text-align: center;
}
#skills #skills-inner .skill .skill-inner h2 {
  margin: 0 0 20px 0;
}
#work {
  padding: 100px 0;
}
#work #portfolio .work {
  z-index: 0;
  overflow: hidden;
  padding: 10px;
  position: relative;
}
#work #portfolio .work:before {
  content: '';
  position: absolute;
  top: 10px;
  bottom: 10px;
  right: 10px;
  left: 10px;
  transition: .5s ease;
}
#work #portfolio .work:hover {
  cursor: pointer;
}
#work #portfolio .work:hover .work-about {
  bottom: 50%;
  margin-bottom: -60px;
  opacity: 1;
}
#work #portfolio .work:hover:before {
  background: rgba(0, 0, 0, 0.7);
}
#work #portfolio .work img {
  width: 100%;
}
#work #portfolio .work .work-about {
  height: 120px;
  transition: .5s ease;
  opacity: 0;
  z-index: 3;
  position: absolute;
  bottom: -50px;
  right: 10px;
  left: 10px;
  text-align: center;
  color: #fff;
  text-transform: uppercase;
}
#work #portfolio .work .work-about h1 {
  display: block;
  text-align: center;
  font-size: 3em;
}
#work #portfolio .work .work-about h1 span {
  font-weight: bold;
}
#work #portfolio .work .work-about a {
  text-transform: none;
  color: #fff;
  font-size: 13px;
}
#work #portfolio .work .work-about a:hover {
  color: #999;
}
#contacts {
  background: #f7f7f7;
  padding: 30px 0;
  border-top: 3px #e8e8e8 solid;
}
#contacts #name {
  font-size: 1em;
  height: 60px;
}
#contacts ul {
  text-align: right;
  padding: 0;
  height: 60px;
  line-height: 60px;
}
#contacts ul li {
  font-size: 1em;
  list-style: none;
  display: inline-block;
  margin: 0 10px;
}
#contacts ul li a {
  color: #2d2d2d;
}
#contacts ul li span {
  font-weight: bold;
  color: #2d2d2d;
}
#footer {
  background: rgba(0, 0, 0, 0.5);
  height: 20px;
}
@media screen and (max-width: 1024px) {
  body {
    font-size: 12px;
  }
}
@media screen and (max-width: 768px) {
  #banner #banner-info {
    text-align: center;
    margin-top: 28vh;
  }
  .section-num h2 {
    text-align: center;
    margin-bottom: 50px;
  }
  #contacts ul li {
    font-size: .89em;
  }
}
@media screen and (max-width: 500px) {
  #contacts #name {
    text-align: center;
  }
  #contacts ul {
    margin: 10px 0;
    height: inherit;
    line-height: 23px;
    text-align: center;
  }
  #contacts ul li {
    font-size: .8em;
    margin: 0 7px;
  }
}
