@import url('https://fonts.googleapis.com/css?family=Droid+Sans:400,700');

* {
	font-family: "Droid Sans", sans-serif;
	font-weight: 400;
}

//-------------------BASIC-SETTINGS-----------------
body {
	color: #282828;
	font-size: 15px;
	a {
		&:hover,
		&:active,
		&:focus {
			text-decoration: none;
		}
	}
	span {
	color: @scolor;
	font-weight: bold;
	}
	h1,
	h2,
	h3 {
		font-weight: bold;
	}
	.hdr-main {
		margin-bottom: 50px;
		text-transform: uppercase;
		font-size: 2.8em;
	}
	#switcher-main {
		z-index: 5;
		position: fixed;
		right: 120px;
		top: 20px;
		.can-toggle  {
			z-index: 1;
			#b:checked ~ .main-wrapper {
  				background: #eaeaea;
			}

		}
	}
}

@fcolor: #fff;
@scolor: coral;

//----------------DARK-VIEW----------------
.dark { 
	color: #999;
	background: #282828;
	transition: .3s ease;
	hr {
		border-color: @scolor;
		background: @scolor;
	}
	#about {
		border-bottom: none;
		#progress {
			.p-bar {
				.c100 {
					span {
						color: #999;
					}
				}
			}
		}
		#skills {
			#about-text {
			border-color: @scolor;
			background: transparent;
		}
		}
	}
	.c100:after {
		background: #282828;
	}
	#my-works {
		.slider {
			.slide {
				img {
					box-shadow: 20px 20px 10px #1e1e1e;
				}
			}
		}
	}
	#features  { 
		h1 {
			color: #999;
		}
		background: transparent;
		#features-main { 
			.col {
				background: coral;
				color: #fff;
				span {
					color: #fff;
				}
			}
		}
	}
	#footer {
		background: #191818;
	}
}
//////////////////DARK-VIEW//////////////////


//-----------------SCROLLBAR----------------
::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 10px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	background-color: @scolor;	
	background-image: -webkit-linear-gradient(90deg,
         rgba(255, 255, 255, .2) 25%,
	       transparent 25%,
		  transparent 50%,
		  rgba(255, 255, 255, .2) 50%,
		  rgba(255, 255, 255, .2) 75%,
		  transparent 75%,
		  transparent)
}
//-----------------------BANNER------------------------
#banner {
	position: relative;
	background-image: url('../img/banner.jpg');
	background-color: #282828;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 100vh;
	color: #fff;
	text-align: center;
	padding-top: 40vh;
	.container {
		height: 20vh;
		margin-bottom: 39vh;
		h6 {
			font-size: .9em;
			i {
				color: @scolor;
			}
		}
		h1 {
			font-size: 3.5em;
		}

	}
	#arrow-down {
		height: 1vh;
		position: absolute;
		font-size: 25px;
		bottom: 30px;
		color: #fff;
	}
}
//-----------------------ABOUT-------------------------
#about {
	border-top: 3px @scolor solid;
	border-bottom: 3px @scolor solid;
	padding: 100px 0;
	#skills {
		padding-bottom: 100px;
		#about-img {
			img {
				margin-bottom: 30px;
				height: 15em;
				width: 15em;
				border-radius: 50%;
			}
		}
		#about-text {
			p {
				margin: 0;
			}
			border: #e8e8e8 4px solid;
			background: #f7f7f7;
			padding: 4em 0;
			text-align: center;
		}
	}
	#progress {
		display: flex;
		margin-bottom: 100px;
		.p-bar {
			height: 240px;
			position: relative;
			width: 100%;
			.c100 {
				position: absolute;
				right: 0;
				margin-right: 90px;
				font-size: 240px;
				span {
					color: #444;
				}
			}
		}
	}
	
	#another-skills {
		padding-top: 70px;
		#p-bars {
		text-align: center;
		.progress {
			margin: 0 auto;
			width: 70%;
			height: 8px;
			padding: 2px;
			margin-top: 5px;
			margin-bottom: 45px;
			&:last-child {
				margin-bottom: 55px;
			}
			}
			.progress-bar {
				background: coral;
			}
		}
	}
	.slider-skills{
		padding: 100px 0 0;
		overflow-x: hidden;
		.slider-skill {
			text-align: center;
			img {
				height: 80px;
				display: block;
				margin: 0 auto;
			}
		}
	}
}
//-----------------------FEATURES-------------------------
#features {
	padding: 100px 0;
	background: @scolor;
	h1 {
		margin-bottom: 50px;
		color: #fff;
	}
	#features-main {
		display: flex;
		.col {
			background: #fff;
			border-radius: 5px;
			width: 100%;
			text-align: center;
			margin: 0 10px;
			padding: 50px 5px 0;
			height: 300px;
			transition: .3s ease;
			span {
				color: #282828;
				font-size: 55px;
				transition: .5s ease;
				height: 70px;
				display: block;
				line-height: 70px;
			}
			h3 {
				font-size: 2em;
				margin-top: 40px;
				transition: .3s ease;
			}
			h5 {
				font-size: 1.1em;
			}
			&:hover {
				padding-bottom: 25px;
				span {
					font-size: 70px;
					//transform: rotate(360deg);
				}
			}
		}
	}
}
//-----------------------PORTFOLIO------------------------
#my-works {
	padding: 100px 0;
	.slider {
		overflow-x: hidden;
		.slide {
			text-align: center;
			margin: 0 30px;
			padding: 10px;
			img {
				width: 100%;
				box-shadow: 20px 20px 10px #9f9f9f;
				margin-bottom: 50px;
			}
			h4 {
				font-size: 25px;
			}
			a {
				color: #999;
				font-size: 13px;
				&:hover {
					color: #444;
				}
			}
		}
	}
}
//-----------------------LINKS-------------------------
#footer {
	border-top: 3px @scolor solid;
	background: #282828;
	height: 70px;
	line-height: 70px;
	color: #999;
	#links,
	p {
		display: inline-block;
		margin: 0;
	}
	#links {
		float: right;
		a {
			display: inline-block;
			width: 50px;
			text-align: center;
			i {
				font-size: 20px;
				color: #999;
				transition: .3s ease;
			}
			&:hover {
				i {
					font-size: 26px;
				}
			}
		}
	}
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
	body {
		font-size: 12px;
	}
}

@media screen and (max-width: 1024px) {
	#about {
		#another-skills {
			#progress {
				margin: 0;
				.p-bar {
					position: relative;
				}
				.c100 {
					font-size: 120px;
				    	margin-right: 120px;
				}
			}
		}
	}
}

@media screen and (max-width: 991px) {
	body {
		font-size: 15px;
	}
	
	#banner {
		h6 {
			font-size: 1.7em;
		}
		h1 {
			font-size: 4em;
		}
	}
	
	#about {
		#skills {
			#about-img {
				img {
					margin-bottom: 30px;
				}
			}
			#about-text {
				p {
					font-size: 1.5em;
				}
			}
		}
		#another-skills {
			#progress {
				.c100 {
				    	margin-right: 80px;
				}
			}
		}
	}
	
	#features {
		#features-main {
			.col {
				h3 {
					font-size: 1.7em;
				}
				h5 {
				 	font-size: .9em;
					line-height: 17px;
				}
			}
		}
	}
}

//@media screen and (max-width: 768px) {
//	body {
//		font-size: 15px;
//	}
//	
//	#banner {
//		h6 {
//			font-size: 2em;
//		}
//		h1 {
//			font-size: 7.5em;
//		}
//	}
//	
//	#about {
//		#skills {
//			#about-img {
//				img {
//					margin-bottom: 30px;
//				}
//			}
//			#about-text {
//				p {
//					font-size: 1.5em;
//				}
//			}
//		}
//		#another-skills {
//			#progress {
//				.c100 {
//				    	margin-right: 80px;
//				}
//			}
//		}
//	}
//	
//	#features {
//		#features-main {
//			.col {
//				h3 {
//					font-size: 1.7em;
//				}
//				h5 {
//				 	font-size: .9em;
//					line-height: 17px;
//				}
//			}
//		}
//	}
//}




































