@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600');

* {
    font-family: Open Sans,sans-serif;
}
ul {
    padding: 0;
    margin: 0;
}
body {
    font-size: 14px;
}
#banner {
    border-top: 3px coral solid;
    background: url(../images/header_bg_image.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.header {
    height: 70px;
    padding: 0;
    padding: 10px 0;
    text-align: center;
    box-sizing: content-box;
}
.navbar_ox {
    line-height: 70px;
    display: inline-block;
    text-align: center;
}
.navbar_ox a {
    font-family: Open Sans, sans-serif;
    width: 100px;
    height: 40px;
    line-height: 40px;
    border-radius: 4px;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    color: #fff;
}
.navbar_ox a:hover {
    width: 100px;
    height: 40px;
    background: #343434;
    transition: .1s ease;
}
.logo {
    color: #fff;
    height: 70px;
    border: 1px #fff solid;
    transition: .1s ease;
}
.logo h1,
.logo p {
    margin: 0;
    text-transform: uppercase;
}
.logo:hover {
    background: rgba(0,0,0,.4);
    color: #fff;
    text-decoration: none;
}
#banner-desc {
    position: absolute;
    top: 50%;
    right: 50%;
    width: 36vw;
    height: 20vh;
    margin-top: -10vh;
    margin-right: -18vw;
    text-align: center;
}
#banner-desc h1 {
    font-size: 6em;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 35px;
}
#banner-desc h1 span {
    color: coral;
}
#banner-desc ul {
    color: #fff;
    padding: 0;
    margin: 0;
}
#banner-desc ul li {
    list-style: none;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    margin: 0 10px;
    font-size: 1.2em;
    margin-bottom: 30px;
}
#banner-desc ul li:hover {
    color: coral;
    cursor: default;
}
#banner-desc button {
    padding: 20px 50px;
    background: rgba(0, 0, 0, .4);
    border: none;
    border: 1px #fff solid;
    color: #fff;
    text-transform: uppercase;
    font-size: 1.2em;
    transition: .2s ease;
}
#banner-desc button:hover {
    background: rgba(0, 0, 0, .6);
}
#about {
    padding-bottom: 100px; 
}
.hdr_about {
    height: 70px;
    position: relative;
    background: #fff;
    margin: 0 auto;
    width: 100%;
    z-index: 5;
    transition: .2s ease;
}
.hdr_about ul a {
    color: #343434;
}
.hdr_about ul a:hover {
    color: #fff;
}
.pinned .hdr_about {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: 0 0 20px #111;
}
.pinned {
    padding-top: 100px;
}
#logo_dark {
    background: rgba(0,0,0,.4);
    color: #fff;
    border: 1px #666 solid;
}
#logo_dark:hover {
    background: rgba(0,0,0,.6);
}
.block_desc {
    margin: 40px 0 90px;
    text-align: center;
}
.block_desc h1{
    margin: 0 0 20px 0;
    font-size: 3em;
    font-weight: bold;
    color: #555;
    text-transform: uppercase;
}
.block_desc hr {
    width: 30%;
}
.block_desc p {
    font-size: .9em;
    width: 30%;
    display: block;
    margin: 0 auto;
}
.slider_resp_th {
    width: 550px;
    z-index: 3;
    float: left;
}
.slick-prev,
.slick-next {
    z-index: 3;
}
#about #about_content #about_resp_th h4 {
    text-align: left;
    font-weight: bold;
    font-size: 1.5em;
}
#about #about_content #about_resp_th p {
    font-size: .9em;
    margin: 20px 0;
}
.o_btn {
    border: none;
    border: 1px coral solid;
    color: coral;
    padding: 15px 30px;
    text-transform: uppercase;
    background: transparent;
    transition: .1s ease;
    margin: 0 5px;
}
.o_btn:hover {
    background: coral;
    color: #fff;
}
#who {
    padding: 60px 0 100px;
    background: url(../images/section_bg.png) no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
    text-align: center;
}
#who .block_desc h1 {
    color: #fff;
}
#who .block_desc p {
    color: #fff;
}
#who #props .row:first-child {
    margin-bottom: 60px;
}
.prop {
    margin: auto 0;
    color: #fff;
    height: 100px;
}
.prop i {
    line-height: 100px;
    color: coral;
    font-size: 3em;
}
.prop h4 {
    text-transform: uppercase;
    text-align: center;
}
.prop p {
    text-align: center;
}
#our_team {
    padding: 60px 0 100px;
}
#our_team #people {
    text-align: center;
}
#our_team #people h5 {
    font-size: 1.1em;
}
#our_team #people h5 i {
    color: coral;
}
#our_team #people p {
    font-size: .9em;
}
#our_team #people a {
    color: #343434;
    height: 35px;
    width: 35px;
    line-height: 33px;
    text-align: center;
    margin: 0 3px;
    border-radius: 50%;
    border: 1px #343434 solid;
    transition: .2s ease;
}
#our_team #people a:hover {
    text-decoration: none;
    color: #fff;
    background: #343434;
}
#portfolio {
    padding: 40px 0 100px;
}
#portfolio .row {
    display: flex;
}
#portfolio .row .col {
    width: 100%;
}
#buy_main {
    text-align: center;
    padding: 0 0 140px;
}
#clients{
    padding: 110px 0 150px;
     background: url(../images/c_say_bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    color: #fff;
    position: relative;
}
#clients:before{
    content: '';
    z-index: 2;
    background: rgba(0, 0, 0, .4);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#clients .block_desc {
    position: relative;
    z-index: 3;
}
#clients .block_desc h1 {
    color: #fff;
}
#clients .block_desc p {
    width: 80%;
    font-size: 1.1em;
}
#clients .block_desc .carousel-control {
    background: transparent;
    font-size: 30px;
    color: #fff;
}
#how_do {
    padding: 60px 0 100px;
}
#resps .prop {
    color: #000;
    height: 120px;
    margin-bottom: 10px;
}
#resps .i {
    height: 120px;
}
#resps i {
    background: coral;
    color: #fff;
    height: 80px;
    width: 80px;
    margin-top: 20px;
    margin-left: 20px;
    text-align: center;
    line-height: 80px;
    border-radius: 50%;
}
#resps h4 {
    font-weight: bold;
}
#resps p {
    font-size: .9em;
}
#footer {
    background: #343434;
    padding: 0 0 30px;
    color: #fff;
}
#footer li {
    list-style: none;
}
#footer .footer-col-hdr {
    text-align: center;
    font-size: 2em;
    margin: 30px 0;
}
#footer .footer-col-hdr h2 {
    display: inline-block;
}
#footer #contacts {
    text-align: center;
}
#footer #contacts h4 {
    margin: 0 0 20px;
}
#footer #contacts ul {
    padding: 0;
    margin: 0;
}
#footer #contacts ul li {
    margin: 40px;
}
#footer #contacts ul li:first-child {
    margin-top: 0;
}
#footer #contacts ul li p {
    margin: 0;
}
#footer #contacts ul li p:last-child {
    color: #999;
}
#footer #news ul {
    padding: 0;
}
#footer #news ul li h5 {
    text-align: center;
}
#footer #news ul li p {
    font-size: .9em;
}
#footer #news ul li p:last-child {
    color: coral;
    text-align: right;
}
#footer #form input {
    width: 80%;
    border: none;
    margin: 5px;
    margin-left: 10%;
    border-radius: 4px;
    color: #343434;
    padding: 5px;
}
#footer #form textarea {
    resize: none;
    border-radius: 4px;
    border: none;
    color: #343434;
    margin: 5px;
    width: 80%;
    margin-left: 10%;
    padding: 5px;
}
#footer #form button {
    float: right;
    margin-right: 10%;
}
#rights {
    background: #282828;
    padding: 10px;
    color: #fff;
}
#rights p,
#rights ul {
    display: inline-block;
    margin: 0;
    padding: 0;
}
#rights p span {
    color: coral;
}
#rights #my_links ul {
    font-size: 0;
}
#rights #my_links ul li {
    font-size: 14px;
    list-style: none;
    display: inline-block;
}
#rights #my_links ul li a {
    color: #999;
    margin: 0 10px;
}
#rights #my_links ul li a:hover {
    color: #666;
    text-decoration: none;
}
#rights #my_links {
    float: right;
}
