@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,600');

* {
    font-family: Open Sans,sans-serif;
}
.block_860 {
    height: 860px;
    border-top: 3px #ff7200 solid;
    background: #fff;
}
#headerMain {
    border-top: 3px #ff7200 solid;
    background: url(../images/header_bg_image.png) no-repeat center center;
    -webkit-background-size: cover;
    background-size: cover;
}
.header {
    height: 120px;
    line-height: 120px;
    padding: 0;
    text-align: center;
}
.navbar_ox {
    display: inline-block;
    text-align: center;
}
.navbar_ox li {
    display: inline-block;
    width: 100px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-radius: 4px;
}
.navbar_ox li {
    font-family: Open Sans, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    display: inline-block;
    text-decoration: none;
    
}
.navbar_ox_hdr li {
    color: #fff;
}
.navbar_ox li:hover {
    width: 100px;
    height: 40px;
    background: #343434;
}
.navbar_ox_hdr li:hover {
    color: #ff7200;
}
.choosed {
    background: #343434;
    color: #fff;
    z-index: 5;
    border-radius: 4px;
}
.top_menu:hover {
    color: #fff;
    cursor: pointer;
}
.top_menu p {
    margin: 0;
    padding: 0;
}
.top_menu p:hover {
    color: #fff;
}
#l_nav,
#l_nav_abtus {
    float: left;
    
}
/*
#l_nav li
#l_nav_abtus li {
    margin-right: 10px;
}
*/
#l_nav li:last-child {
    margin-right: 0;
}
#r_nav,
#r_nav_abtus {
    float: right;
}
/*
#r_nav li
#r_nav_abtus li {
    margin-left: 10px;
}
*/
.logo {
    height: 72px;
    width: 171px;
    display: inline-block;
    margin: 30px 0;
}
#logo_light {
    background-image: url(../images/logo.png);
}

#disc {
    text-align: center;
    margin: 0 auto;
    text-align: center;
    padding: 0;
    margin-top: 230px;
}
#hdr_dics {
    display: inline-block;
    color: #fff;
    text-transform: uppercase;
    font-size: 72px;
    margin: 0 auto;
    margin-bottom: 35px;
}

#main_disc {
    margin-bottom: 35px;
}
#main_disc ul {
    display: inline-block;
    padding: 0;
    cursor: default;
}
#main_disc ul li {
    display: inline-block;
    margin: 0 20px;
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
}
#main_disc ul li:hover {
    color: #ff7200;
    cursor: default;
}
#btn_disc {
    display: inline-block;
    width: 190px;
    height: 60px;
    text-align: center;
    line-height: 60px;
    color: #fff;
    border: 1px #fff solid;
    text-transform: uppercase;
}
.aboutUs {
    padding: 0;
    text-align: center;
    z-index: 2;
}
.hdr_about {
    box-shadow: 0 0 20px #111;
    position: relative;
    background: #fff;
    margin: 0 auto;
    width: 100%;
    z-index: 5;
    
}
#hdr_about {
    text-align: center;
    padding: 0;
}
.animate {
    padding-top: 120px;
}
.anim {
    position: fixed;
    top: 0;
}
#logo_dark {
    background-image: url(../images/logo_dark.png);
}
#abt_disc {
    margin-top: 120px;
    margin-bottom: 80px;
}
.desc_all {
    text-align: center;
}
.hdr_hdr {
    font-size: 36px;
    font-weight: 700;
    color: #666;
}
.hdr_hr {
    width: 170px;
    color: #666;
}
.hdr_p {
    font-size: 22px;
}
.hdr_info {
    width: 600px;
    display: inline-block;
}
#abt_disc hr {
    background-color: #666;
}

.slider_resp_th {
    width: 550px;
    z-index: 3;
    float: left;
}
.slick-prev,
.slick-next {
    z-index: 3;
}
#desc_resp_th {
    float: right;
}
#desc_resp_th_hdr {
    font-size: 25px;
    font-weight: 600;
    color: #666;
    margin-bottom: 30px;
}
#desc_resp_th_desc {
    font-size: 16px;
    margin-bottom: 30px;
}
.desc_resp_th_btn {
    width: 160px;
    height: 48px;
    background: #fff;
    border: 1px #ff7200 solid;
    border-radius: 3px;
    display: inline-block;
    margin-right: 30px;
    text-align: center;
    line-height: 48px;
    text-transform: uppercase;
    color: #ff7200;
}
.desc_resp_th_btn:hover {
    color: #fff;
    background: #ff7200;
}
#section {
    margin-top: 125px;
    background: url(../images/section_bg.png) no-repeat center bottom;
    -webkit-background-size: cover;
    background-size: cover;
    height: 600px;
    margin-bottom: 100px;
    text-align: center;
}
#select_desc_hdr {
    color: #fff;
    margin-top: 90px;
}
#selection_header {
    display: inline-block;
    display: inline-block;
}
#select_desc_info {
    color: #fff;
    margin-bottom: 40px;
}
.props {
   text-align: center;
}
.prop {
    display: inline-block;
    margin: 0  15px;
    height: 80px;
    margin-bottom: 100px;
    
}
.prop h4 {
    font-size: 18px;
    
}

.prop img {
    margin-bottom: 60px;
}
.prop_desc {
    display: inline-block;
    padding: 0;
    color: #fff;
    width: 270px;
}
#teamMain {
    height: 1010px;
    text-align: center;
}
#team_ppl {
    text-align: center;
    margin: 0 auto;
}
#team_desc_top {
    margin-top: 90px;
    margin-bottom: 76px;
}
.pers_team {
    display: inline-block;
    margin: 0 6px;
    text-align: center;
    width: 270px;
    margin-bottom: 100px;
}
.pers_team i {
    color: #ff7200;
}
.pers_info {
    margin-bottom: 20px;
}
.pers_team img {
    border: 2px #666 solid;
    border-radius: 50%;
}
.social_1,
.social_2,
.social_3,
.social_4,
.social_5 {
    border: 2px #666 solid;
    border-radius: 50%;
    display: inline-block;
    height: 45px;
    width: 45px;
}
.social_1 {
    background-image: url(../images/social_1.png);
    -webkit-background-size: cover;
    background-size: cover;
}
.social_1:hover {
    background-image: url(../images/social_1-2.png);
}
.social_2 {
    background-image: url(../images/social_2.png);
    -webkit-background-size: cover;
    background-size: cover;
}
.social_2:hover {
    background-image: url(../images/social_2-2.png);
}
.social_3 {
    background-image: url(../images/social_3.png);
    -webkit-background-size: cover;
    background-size: cover;
}
.social_3:hover {
    background-image: url(../images/social_3-2.png);
}
.social_4 {
    background-image: url(../images/social_4.png);
    -webkit-background-size: cover;
    background-size: cover;
}
.social_4:hover {
    background-image: url(../images/social_4-2.png);
}
.social_5 {
    background-image: url(../images/social_5.png);
    -webkit-background-size: cover;
    background-size: cover;
}
.social_5:hover {
    background-image: url(../images/social_5-2.png);
}



.footer_social {
    display: inline-block;
}
#portfolioMain {
    height: auto;
    background: #fff;
    text-align: center;
    height: 500px;
    width: 1320px;
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 100px;
}
.portfolio-row {
    height: 50%;
    margin: 0 auto;
}
.port {
    display: inline-block;
    width: 330px;
    height: 257px;
    float: left;
}
#port_1 {
    background: url(../images/port_1.png);
}
#port_2 {
    background: url(../images/port_2.png);
}
#port_3 {
    background: url(../images/port_3.png);
}
#port_4 {
    background: url(../images/port_4.png);
}
#port_5 {
    background: url(../images/port_5.png);
}
#port_6 {
    background: url(../images/port_6.png);
}
#port_7 {
    background: url(../images/port_7.png);
}
#port_8 {
    background: url(../images/port_8.png);
}
#buyMain {
    text-align: center;
}
#buy_info i {
    color: #ff7200;
}
#buy_info {
    margin-bottom: 40px;
}
.s_client_main {
    margin-top: 100px;
}
.s_client_top {
    background: url(../images/c_say_bg.png);
    -webkit-background-size: cover;
    background-size: cover;
    height: 560px;
    padding-top: 100px;;
}
.s_client_hdr,
.s_client_p, 
.s_client_info {
    color: #fff;
    text-align: center;
}
#technMain {
    height: 162px;
    background: #ff7200;
    text-align: center;
}
#tech {
    text-align: center;
}
.cur_techn img {
    height: 80px;
    width: 170px;
    margin: 0 auto;
}

.tech_slider {
    text-align: center;
    margin: 0 auto;
}
#how_do {
    height: 960px;
    padding-top: 100px;
    text-align: center;
}
.responsive {
    width: 1170px;;
    height: 477px;
    margin: 0 auto;
    text-align: center;
}
#resp_hdr {
    margin-bottom: 30px;
}
.resp img,
.resp_info_main,
.resp_info {
    display: inline-block;  
}
#resps,
#pc_view {
    display: inline-table;
    height: 477px;
    width: 570px;
}
#pc_view {
    height: 100%;
    width: 45%;
}
#pc_view {
    float: left
}
#resps {
    float: right;
}

#resps {
    margin-left: 30px;
}
.resp {
    margin-bottom: 60px;
}
.resp_info {
    width: 460px;
}
.footerMain {
    width: 100%;
}
#footer_top {
    height: 500px;
    background: #303030;
    padding-top: 40px;
}
.footer_info_main {
    display: inline-table;
    width: 270px;
    height: 400px;
    margin: 0 10px;
}
.footer_info_zag {
    margin-bottom: 30px;
}
#footer_main_inf {
    margin: 0 auto;
    text-align: center;
}
.f_i {
    color: #fff;
    margin-bottom: 18px;
}
.f_i h5 {
    color: #fff;
    margin: 0;
}
.f_i p {
    color: #a4a3a3;
    margin: 0;
}
.footer_news {
    height: ;
    display: inline-block;
    width: 230px;
    margin: 16px 0;
    color: #fff;
}
.footer_news_desc {
    width: 160px;
    display: inline-block;
    float: right;
}
.news_zag,
.news_info, 
.news_date {
    display: inline-block;
    margin-bottom: 7px;
    float: left;
}
.news_date {
    margin: 0;
}
.news_info {
    width: 162px;
    float: right
}
.news_date {
    color: #ff7200;
}
.con_field {
    width: 270px;
    background: #fff;
    border-radius: 4px;
    margin-bottom: 15px;
}
.con_field_inp {
    height: 35px;
    font-size: 22px;
}
#mes_field {
    font-size: 18px;
    height: 120px;
    overflow: auto;
    text-align: left;
}
#mes_submit {
    background: url(../images/mes_submit.png) no-repeat;
    background-position: center;
    background-color: #ff7200;
    height: 35px;
    float: right;
    width: 110px;
    
}
#footer_bot {
    background: #202020;
    height: 60px;
    line-height: 60px;
}
#footer_logo {
    display: inline-block;
}
#footer_copy {
    display: inline-block;
    color: #fff;
    margin-left: 20px;
}
.footer_ul {
    display: inline-block;
    float: right;
}
.footer_ul li {
    display: inline-block;
    
}
.footer_ul li a {
    display: inline-block;
    color: #acabab;
    margin: 0 15px;
}

@media screen and (max-width: 1320px) {
    #portfolioMain {
        width: 660px;
        height: 1000px;
    }
}
@media screen and (max-width: 1280px) {
    .navbar_ox li {
        font-size: 10px;
        height: 30px;
        width: 80px;
        line-height: 30px;
    }
    .navbar_ox li:hover {
        font-size: 10px;
        height: 30px;
        width: 80px;
        line-height: 30px;
    }
    #desc_resp_th {
        width: 40%;
    }
    .desc_resp_th_btn {
        margin-right: 10px;
    }
    .prop_desc {
        width: 250px;
    }
    .prop h4 {
        font-size: 15px;
    }
    .prop p {
        font-size: 10px;
    }
    .s_client_slider {
        width: 90%;
    }
}
@media screen and (max-width: 1200px) {
    
    #teamMain {
        height: 1550px;
    }
    #team_ppl {
        width: 655px;
    }
    .responsive {
        width: 100%;
    }
    #pc_view {
        width: 50%;
    }
    #resps {
        margin: 0;
        width: 50%;
    }
}
@media screen and (max-width: 1024px) {
    #pc_view {
        height: 90%;
    }
}
@media screen and (max-width: 920px) {
    
    #pc_view {
        height: 477px;
        width: 570px;
        float: none;
        
    }
    #how_do {
        height: 1000px;
    }
    #resps {
        width: 100%;
        margin-top: 30px;
        height: 230px;
    }
    .resp {
        width: 33%;
        display: inline-block;
    }
    .resp_info_main {
        width: 100%;
    }
    .resp_info {
        width: 100%;
    }
}
@media screen and (max-width: 992px) {
    .navbar_ox li {
        font-size: 8px;
        width: 60px;
        height: 25px;
        line-height: 25px;
    }
    .navbar_ox li:hover {
        font-size: 8px;
        width: 60px;
        height: 25px;
        line-height: 25px;
    }
    .slider_resp_th {
        width: 420px;
        height: 300px;
    }
    .slider_abt {
        height: 300px;
    }
    #desc_resp_th_desc {
        font-size: 12px;
    }
    .desc_resp_th_btn {
        width: 100px;
        height: 35px;
        line-height: 35px;
        font-size: 12px;
    }
    .prop {
        margin: 0px 7px 100px 7px;
    }
    .prop_desc {
        width: 170px;
    }
    .footer_info_main {
        width: 180px;
    }
    .footer_socials {
        height: 30px;
    }
    .footer_social,
    .footer_social img{
        width: 30px;
        height: 30px;
    }
    .footer_news {
        width: 180px;
        text-align: center;
        margin: 10px 0 0 0;
    }
    .footer_news_desc {
        text-align: center;
    }
    .news_zag,
    .footer_info_main h5,
    .footer_info_main p,
    #footer_info_text {
        font-size: 11px;
    }
    .news_info,
    .news_date {
        font-size: 8px
    }
    .con_field {
        width: 180px;
    }
    .con_field_inp {
        height: 27px;
    }
    #footer_copy {
        font-size: 10px;
    }
}
@media screen and (max-width: 732px) {
    
    .header {
        height: auto;
        line-height: 60px;
    }
    .navbar_ox {
        display: none;
        height: 80px;
        width: 100%;
        transition: 1s ease-in-out;
    }
    .navbar_ox .show {
        display: block;
    }
    .logo {
        margin: 27px 0 0 0;
    }
}