@media (max-width: 1366px ) {
    #header ul li a {
        font-size: 14px;
    }
    #headerIphone {
        bottom : -53vh;
        right  : 36.5%;
    }
    #headerBannerMain h1 {
        margin-top :50px;
    }

}