@charset "UTF-8";

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700');

* {
    font-family: "Roboto", sans-serif;    
}

body {
    padding: 0;
    margin: 10px;
    padding-top: 80px;
    background: #e7e7e7;
}

header {
    width: 100%;
    height: 80px;
    position: fixed;
    padding: 15px;
    box-sizing: border-box;
    top: 0;
    left: 0;
    z-index: 5;
    border-radius: 0 0 6px 6px;
    background: #3568ba;
}
header input {
    box-sizing: border-box;
    height: 50px;
    width: 100%;
    float: left;
    border: none;
    background: rgba(91, 139, 216,.4);
    border-radius: 3px 25px 25px 3px;
    border: 0px;
    box-shadow: none;
    outline: none;
    text-indent: 10px;
    color: #fff;
    padding: 0 60px 0 0;
    
    -webkit-appearance: none;
    -moz-appearance: none;
    -o-appearance: none;
    -ms-appearance: none;
    appearance: none;
}
header ::-webkit-input-placeholder {
    color: rgba(255,255,255,.4);
}
header ::-moz-input-placeholder {
    color: #fff;
}
header :-moz-input-placeholder {
    color: #fff;
}
header :-ms-input-placeholder {
    color: #fff;
}
header button {
    position: absolute;
    border: none;
    background: #fff;
    height: 50px;
    width: 50px;
    border-radius: 50%;
    top: 15px;
    right: 15px;
}

ul.todo {
    margin: 0;
    padding: 0;
}
ul.todo li {
    min-height: 50px;
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background: #fff;
    box-sizing: border-box;
    padding: 10px 108px 10px 8px;
    line-height: 30px;
    font-size: 13px;
    color: #282828;
    border-radius: 5px;
}
ul.todo li:last-child {
    margin: 0;
}
ul.todo li .buttons {
    width: 100px;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
}
ul.todo li .buttons button {
    height: 100%;
    width: 50px;
    border: none;
    background: transparent;
    font-size: 23px;
    color: #b7b7b7;
}
.buttons button i {
    transition: .2s ease;
}
.complete {
    float: right;
    border-radius: 0 5px 5px 0;
}
.remove:hover i {
    color: red;
}
#todo .complete:hover i {
    color: #5ff469;
}
.border {
    content: '';
    width: 1px;
    height: 66%;
    background: #f2f2f2;
    position: absolute;
    right: 49%;
    top: 17%;
}
#completed {
    position: relative;
}
#completed .complete {
    background: #5ff469;
    color: #fff;
    transition: .2s ease;
    width: 49px;
}
ul.todo#completed:not(:empty) {
    opacity: .5;
    padding-top: 60px;
}
h2 {
    text-align: center;
    color: #444;
    display: block;
}
ul:not(:empty)~h2 {
    display: none;
}
#completed:not(:empty):before {
    content: '';
    width: 70%;
    height: 1px;
    background: #b7b7b7;
    position: absolute;
    right: 15%;
    top: 30px;
}
